<div class="navbar-custom">
  <div class="navbar-title"><h3>Simple Airbnb</h3></div>
  <div class="navbar-form">
    <div class="form-group form-inline">
      <input type="text", placeholder="Search">
      <button type="submit" class="btn btn-search">Search</button>
      <button type="submit", value="Add flat", class="btn btn-add "><%= link_to "Add flat", new_flat_path %></button>
    </div>
  </div>
</div>
